# Ignorar dependencias instaladas localmente
__pycache__/
*.pyc

# Ignorar credenciales o llaves locales
*.pem
.env

# Ignorar Terraform state local
*.tfstate
*.tfstate.*
.terraform/

# Ignorar archivos de IDE
.vscode/
